
# Python bytecode files
__pycache__/
*.py[cod]

# IDE and editor configurations
.vscode/
.idea/
*.swp

# Flask instance folder (if using Flask's default folder)
instance/

# Logs
*.log


# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Python package distribution files
*.egg
*.egg-info/
dist/
build/
*.bak
*.tmp
*.pem